{% extends 'main.html' %} {% block content %}
<div
  class="container-form"
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
  "
>
  <form action="" method="POST">
    {% csrf_token %}
    <h2>Are you sure you want to reset all {{name}} highscores?</h2>
    <input
      type="submit"
      class="btn btn-danger"
      style="margin-left: 20%; width: 20%"
      value="Reset"
    />
    <a
      style="margin: 2%; width: 20%"
      class="btn btn-success"
      href="{{ request.META.HTTP_REFERER }}"
      >Back</a
    >
  </form>
</div>

{% endblock %}
